[package]
name = "kona-host"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
# Workspace
kona-mpt.workspace = true
kona-client.workspace = true
kona-derive.workspace = true
kona-common.workspace = true
kona-preimage.workspace = true
kona-derive-alloy.workspace = true

# Alloy
alloy-rlp.workspace = true
alloy-eips.workspace = true
alloy-provider.workspace = true
alloy-consensus.workspace = true
alloy-rpc-client.workspace = true
alloy-transport-http.workspace = true
alloy-rpc-types = { workspace = true, features = ["eth"] }
alloy-primitives = { workspace = true, features = ["serde"] }

# Op Alloy
op-alloy-genesis = { workspace = true, features = ["std", "serde"] }
op-alloy-protocol = { workspace = true, features = ["std", "serde"] }

# Revm
revm = { workspace = true, features = ["std", "c-kzg", "secp256k1", "portable", "blst"] }

# General
anyhow.workspace = true
tracing.workspace = true
reqwest.workspace = true
futures.workspace = true
os_pipe.workspace = true
serde_json.workspace = true
async-trait.workspace = true
tokio = { workspace = true, features = ["full"] }
serde = { workspace = true, features = ["derive"] }
rocksdb = { workspace = true, features = ["snappy"] }
command-fds = { workspace = true, features = ["tokio"] }
clap = { workspace = true, features = ["derive", "env"] }
tracing-subscriber = { workspace = true, features = ["fmt"] }

[dev-dependencies]
proptest.workspace = true
