[workspace]
members = ["crates/*"]
exclude = ["examples/minimal"]
resolver = "2"

[workspace.package]
version = "0.0.1"
edition = "2021"
license = "MIT"
authors = ["clabby"]
repository = "https://github.com/ethereum-optimism/kona"
homepage = "https://github.com/ethereum-optimism/kona"
exclude = ["**/target", "benches/", "tests"]

[workspace.dependencies]
anyhow = { version = "1.0.75", default-features = false }
tracing = "0.1.40"

[profile.dev]
opt-level = 1
overflow-checks = false

[profile.bench]
debug = true
