[workspace]
members = ["crates/*", "bin/host"]
exclude = ["examples/minimal", "examples/simple-revm", "fpvm-tests/cannon-rs-tests"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "MIT"
authors = ["clabby"]
repository = "https://github.com/ethereum-optimism/kona"
homepage = "https://github.com/ethereum-optimism/kona"
exclude = ["**/target", "benches/", "tests"]

[workspace.dependencies]
anyhow = { version = "1.0.79", default-features = false }
tracing = { version = "0.1.40", default-features = false }
cfg-if = "1.0.0"
alloy-primitives = { version = "0.7.1", default-features = false }
alloy-rlp = { version = "0.3.4", default-features = false }

[profile.dev]
opt-level = 1
overflow-checks = false

[profile.bench]
debug = true
