[workspace]
members = ["crates/*", "bin/host", "bin/client", "examples/*"]
default-members = ["bin/host", "bin/client"]
exclude = ["fpvm-tests/cannon-rs-tests"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "MIT"
authors = ["clabby", "refcell"]
repository = "https://github.com/ethereum-optimism/kona"
homepage = "https://github.com/ethereum-optimism/kona"
exclude = ["**/target", "benches/", "tests"]

[workspace.dependencies]
# General
anyhow = { version = "1.0.86", default-features = false }
tracing = { version = "0.1.40", default-features = false }
cfg-if = "1.0.0"
spin = { version = "0.9.8", features = ["mutex"] }
lru = "0.12.3"
async-trait = "0.1.80"

# Ethereum
alloy-primitives = { version = "0.7.6", default-features = false }
alloy-rlp = { version = "0.3.5", default-features = false }
alloy-consensus = { version = "0.1", default-features = false }
op-alloy-consensus = { git = "https://github.com/alloy-rs/op-alloy", version = "0.1.0", default-features = false }
alloy-eips = { version = "0.1", default-features = false }
revm = { git = "https://github.com/bluealloy/revm", tag = "v37", version = "10.0.0", default-features = false }

[profile.dev]
opt-level = 1
overflow-checks = false

[profile.bench]
debug = true

[profile.dev-client]
inherits = "dev"
panic = "abort"

[profile.release-client-lto]
inherits = "release"
panic = "abort"
codegen-units = 1
lto = "fat"
